<div class="homeMenu">
    <div class="menuItem">
      <p class="menuItemText"><span>Want to split it straight away?</span>
        
        <a routerLink="../addUserEvents" routerLinkActive="active"><span>CLICK HERE</span><span class="glyphicon glyphicon-chevron-right"> </span></a></p>
    </div>
    <div class="menuItem">
      <p class="menuItemText"><span>Want to see your past events?</span>
        <a routerLink="../loginView" routerLinkActive="active"><span>LOGIN</span><span class="glyphicon glyphicon-chevron-right"></span></a></p>
    </div>
  </div>  

