<!--The content below is only a placeholder and can be replaced.-->
<header>
  <span class="icon"><a routerLink="../menuView" routerLinkActive="active"><span>STB</span></a></span>
  <div class="headHeading">
    <h1>
      {{title}}
    </h1>
  </div>
  <div class="userDetails"><span>Hey {{currentUser}}!</span><div class="userImg"><img src= "{{imgPath}}" alt=""></div></div>
  
</header>
  <main>
    <app-user-name-tb-shared (getUsersName) = getUserName($event) [ngClass]="{'hideItem': isEleHidden}"></app-user-name-tb-shared>
    <router-outlet></router-outlet>
</main>

<footer>
  <p>STB copyright :p 2018</p>
</footer>