.formHeading{
    text-align: center;
}

.addUsersForm{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //color:#000;
    .userInfo{
        text-align: center;
    }

    .enteredUser{
        margin: 5px 0;
    }

    .allDoneButton{
        margin-top: 20px;
    }
}