<div class="formHeading" [ngClass]="{'hideItem': isFormHeadingEleHidden}">
  <h3 class="header">Start with adding your mates</h3>
  <button class="waves-effect waves-light btn-large" id="addUsers" (click)='addUserclicked();'>
    <i class="material-icons right">keyboard_arrow_right</i>Click here</button>
</div>
<div class="row">
  <div class="col m3"></div>
  <div class="addUsersForm col m6" [ngClass]="{'showItem': isAddUsersFormEleVisible, 'hideItem': isAddUsersFormEleHidden, 'fromEvents': isFromEvents}">
    <div class="usersEnter row">
      <form>
        <div class="col m3"></div>
        <div class="input-field col s11 m5">
          <label class="">Name</label>
          <input #foc id="addUserIpt" required type="text" class="userInfo validate" [(value)]="userValue">
          <span class="helper-text" [attr.data-error]="userAddWarningMsg"></span>
        </div>
        <button type="submit" class=" col s1 m1 addUser btn-small waves-effect waves-light #90caf9 blue lighten-3" (click)='addUserToUserDetails(foc.value)'>
          <i class="material-icons">add</i>
        </button>
        <div class="col m3"></div>
      </form>
    </div>
    <div class="usersList row" *ngIf='userDetails && userDetails.length'>
      <div class="col m3"></div>
      <ul class="enteredUser collection col m6 center">
        <li class="collection-item" *ngFor='let addedUser of userDetailsList'>
          <span class="truncate" attr.id='user_{{addedUser.new_id}}'>{{addedUser.name}}</span>
          <button class=" btn-small waves-effect waves-dark #ff1744 red accent-3" autofocus (click)='delUserFromUserDetails(addedUser.new_id)'
            id="removeUser_{{addedUser.new_id}}">
            <i class="material-icons">remove</i>
          </button>
        </li>
      </ul>
      <div class="col m3"></div>
    </div>
    <div class="allDoneButton row center">
      <div class="col m3"></div>
      <div class="col m6">
        <span>All done? Proceed to add events</span>
        <button data-target="modal1" (click)='showEventsBox()' class="waves-effect waves-light btn #1de9b6 teal accent-3">
          <i class="material-icons right">check</i>Proceed</button>
      </div>
      <div class="col m3"></div>
    </div>
  </div>
  <div class="col m3"></div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="addEventsForm row" [ngClass]="{'showItem': isAddEventsFormEleVisible, 'hideItem': isAddEventsFormEleHidden, 'isAddUsersActive':isFromEvents}">
      <!-- <div class="col s2"></div> -->
      <div class="addEventItem col m12">
        <div class="row">
          <div class="col m4">
            <div class="input-field col s12">
              <label class="active">Event's name</label>
              <input type="text" class="eventName validate" data-length="30" required>
              <!-- <span class="helper-text" data-error="wrong" data-success="right"></span> -->
            </div>
            <div class="input-field col s12">
              <textarea id="textarea1" class="eventDesc validate materialize-textarea" data-length="120"></textarea>
              <label for="textarea1">Event's description</label>
            </div>
            <div class="input-field col s12">
              <label class="active">Total amount spent</label>
              <input type="number" class="amountCont validate" required value="0">
              <!-- <span class="helper-text" data-error="wrong" data-success="right"></span> -->
            </div>
            <div class="input-field col s12">
              <label class="active">Event's date</label>
              <input type="text" (click)='openCal()' placeholder="Select date" (focus)='openCal()' class="datepicker">
              <!-- <span class="helper-text" data-error="wrong" data-success="right"></span> -->
            </div>

          </div>
          <div class="usersDisplay col m8">
            <div class="searchShowArea row">
              <div class="input-field inline col s12 m12">
                <label>Search user</label>
                <input type="text" class="searchUser">
              </div>
              <a (click)='showUsersInEvent();' class="right waves-effect waves-light">
                <i class="material-icons right">chevron_right</i>{{userListShowHideText}} users</a>
            </div>
            <div class="resultArea row" [ngClass]="{'showItem': isUserListVisible, 'hideItem': isUserListHidden}">
              <ul class="collection usersList">
                <li *ngFor='let userD of userDetailsList' class="collection-item avatar">
                  <img src="./app/images/dummy-ser.png" alt="" class="circle">
                  <span class="title">{{userD.or_id}} {{userD.name}}</span>
                  <!-- <p>{{addedUser.name}}</p> -->
                  <div class="input-field inline">
                    <label class="active">Amount Contributed:</label>
                    <input type="number" class="amountCont validate" value="0">
                    <!-- <span class="helper-text" data-error="wrong" data-success="right"></span> -->
                  </div>
                  <label class="secondary-content">
                    <input type="checkbox">
                    <span></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row addEventsAction">
          <div class="col m3"></div>
          <div class="col s12 m6 center">
            <a class="waves-effect waves-light modal-close btn">
              <i class="material-icons left">chevron_left</i>Modify users</a>
            <br>
            <a id="addEventBtn" (click)='addEventToEventDetails()' class="waves-effect waves-light modal-close btn #90caf9 blue lighten-3">
              <i class="material-icons right ">add</i>Add this</a>
            <a (click)='clearFields();' class="waves-effect waves-light btn #ff1744 red accent-3">
              <i class="material-icons right">clear</i>Clear</a>
          </div>
          <div class="col m3"></div>
        </div>
      </div>
      <!-- <div class="col s2"></div> -->
    </div>
  </div>
</div>