<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Event</mat-label>
      <input
        name="eventName"
        placeholder="Add event's name"
        formControlName="eventName"
        matInput
      />
    </mat-form-field>
  </p>
  <div class="flex flex-col w-auto" formArrayName="members">
    <div
      *ngFor="let member of members().controls; let i = index"
      [formGroupName]="i"
      class="flex justify-between"
    >
      <mat-form-field appearance="outline">
        <mat-label>Member</mat-label>
        <input
          name="memberName"
          placeholder="Add member's name"
          formControlName="memberName"
          matInput
        />
      </mat-form-field>
      <mat-form-field class="ml-4 w-16" appearance="outline">
        <mat-select name="currency" formControlName="currency">
          <mat-option
            *ngFor="let c of currencies"
            [value]="c.code"
            selected
            >{{ c.symbol }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="-ml-px" appearance="outline" floatLabel="always">
        <mat-label>Contribution</mat-label>
        <input
          name="contribution"
          formControlName="contribution"
          matInput
          type="number"
          class="text-end"
          placeholder="0"
        />
        <span matTextPrefix>&nbsp;</span>
        <span matTextSuffix>.00</span>
      </mat-form-field>
      <button
        mat-icon-button
        class="example-icon"
        (click)="removeMember($event, i)"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
  <button
    mat-stroked-button
    (click)="addMember($event)"
    class="example-icon"
    color="warning"
    aria-label="Example icon-button with menu icon"
  >
    ADD MEMBER
  </button>
</form>
