<app-card class="flex justify-center" [className]="'w-auto p-4 m-4'">
  <h1 class="font-semibold mb-4" card-header>Split the bills!</h1>
  <ng-container card-content>
    <app-form #formRef></app-form>
  </ng-container>
  <div class="m-4 flex justify-between w-full float-right" card-actions>
    <button class="!-m-1.5" color="accent" mat-stroked-button (click)="formReset($event)">
      RESET
    </button>
    <div>
      <mat-checkbox class="example-margin" [(ngModel)]="isChecked"
        >Add another event?</mat-checkbox
      >
      <button
        *ngIf="isChecked; else calculate"
        class="ml-4"
        color="primary"
        mat-stroked-button
        (click)="addEvent($event)"
      >
        ADD EVENT
      </button>
      <ng-template #calculate>
        <button
          class="ml-4"
          color="primary"
          mat-stroked-button
          (click)="formSubmit($event)"
        >
          CALCULATE
        </button>
      </ng-template>
    </div>
  </div>
</app-card>
