.LoginContainer{
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #e2e2e2;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
    &:hover{
        box-shadow: 0 0 6px rgba(35, 173, 255, 1);
    }
    h1,h2{
        margin: 0;
    }
    .loader{
        align-self: center;
    }
    input{
    text-align: center;
    }
    button{
        align-self: center;
    }
    
}